<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cassa.entrainementprojettut">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cassa.entrainementprojettut.MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cassa.entrainementprojettut.AdditionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.cassa.entrainementprojettut.ResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.cassa.entrainementprojettut.MysteryWordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.cassa.entrainementprojettut.LevelChoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.cassa.entrainementprojettut.FlagActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name="com.example.cassa.entrainementprojettut.ReverseFlagActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="landscape"/>

        <activity android:name=".geography.GeographyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
    </application>

</manifest>